body{
    color: white;
    background: black;
    font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}
header {
    border-bottom: solid 2px rgb(228, 42, 110);
    padding: 20px;
    font-size: 32px;
    color: rgb(247, 45, 180);
}
section {
    background: rgb(17 7 11);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
