body{
    color: white;
    background: black;
}
header {
    border-bottom: solid 2px rgb(228, 42, 110);
    padding: 20px;
    font-size: 32px;
    color: rgb(247, 45, 180);
}
section {
    background: rgb(17 7 11);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}